/FP1/Parte 2/Ex 5/dist/
/FP2/Ex1/nbproject/private/
/FP2/Ex1/build/
/FP2/Ex1/dist/
/FP2/Ex 2/nbproject/private/
/FP2/Ex 2/build/
/FP2/Ex 2/dist/
/FP2/teste/nbproject/private/
/FP2/teste/build/
/FP2/Ex 4/nbproject/private/
/FP3/EX1/nbproject/private/
/FP3/EX1/build/
/FP3/EX1/dist/
